body {
    margin: 0;
    text-align: justify;
    line-height: 1.25em;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: steelblue;
    padding: 8px 16px;
}

p {
    margin-top: 0;
    background-color: lightblue;
    padding: 16px;
}

ul {
    background-color: lightblue;
    padding: 16px;
    padding-left: 32px;
    margin-top: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color: steelblue;
    padding: 48px;
}

.main-content {
    margin: 32px 16px;
}

.sidebar {
    margin: 32px 16px;
}

.sidebar > h2 {
    text-align: center;
}
a {
    color: blue;
}

a:focus, a:hover {
    color: magenta;
}

a:active {
    color: red;
}

li {
    margin: 8px 0;
}

.contact-button {
    background: skyblue;
    color: black;
    padding: 16px 25px;
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    font-weight: bold;
}

.contact-button:hover {
    background: blue;
    color: black;
}

.email {
    background: lightblue;
    color: black;
    padding: 16px 25px;
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    font-weight: bold;
}