/* === Global styling ===*/

:root {
    --blue-background: lightblue;
}

body {
    margin: 0;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; */
}

p, .content {
    margin-top: 0;
    background-color: var(--blue-background);
    padding: 1.5em 2em;
}

a {
    color: #0A4BD0;
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

li {
    margin: .75em 0;
}

/* === Content styling */
.block-header {
    margin-top: 0;
    margin-bottom: 0;
    background-color: steelblue;
    padding: 12px 16px;
}

.block {
    margin-bottom: 1.5em;
}

.bullet-points {
    background-color: var(--blue-background);
    padding: 16px;
    padding-left: 32px;
    margin-top: 0;
}

.nested-points {
    padding: 6px 10px;
    margin-left: 10px;
}

.nested-points li {
    margin-bottom: 0;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color: steelblue;
    padding: 48px;
}

.main-content {
    margin: 32px 16px;
}

.contact-button {
    background: rgb(78, 185, 228);
    color: black;
    padding: 16px 25px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.contact-button:hover,
.contact-button:focus {
    background: rgb(35, 142, 184);
    color: black;
}

.email {
    background: var(--blue-background);
    color: black;
    padding: 16px 25px;
    display: inline-block;
    text-decoration: none;
}

.personal-image {
    max-width: 100%;
    max-height: 100%;
    margin-top: 1em;
    max-width: 280px;
}

.LI-profile-badge {
    max-width: inherit;
}

.linkedin {
    margin-top: 1em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sidebar {
    margin: 32px 16px;
    max-width: 100%;
}

.sidebar-item {
    display: flex;
    justify-content: center;
}
.sidebar > h2 {
    text-align: center;
}

@media (min-width: 700px) {
    .container {
        flex-direction: row;
    }

    .sidebar {
        margin: 32px 16px;
        max-width: 280px;
    }

    .personal-image {
        max-width: 280px;
    }
}