body {
    margin: 0;
    text-align: justify;
    line-height: 1.25em;
    font-family: Helvetica, sans-serif
}

p {
    margin-top: 0;
    background-color: lightblue;
    padding: 16px;
}

.block-header {
    margin-top: 0;
    margin-bottom: 0;
    background-color: steelblue;
    padding: 12px 16px;
}

.bullet-points {
    background-color: lightblue;
    padding: 16px;
    padding-left: 32px;
    margin-top: 0;
}

.nested-points {
    padding: 6px 10px;
    margin-left: 10px;
}

.nested-points li {
    margin-bottom: 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color: steelblue;
    padding: 48px;
}

.main-content {
    margin: 32px 16px;
}

.sidebar {
    margin: 32px 16px;
    max-width: 280px;
}

.sidebar > h2 {
    text-align: center;
}

a {
    color: blue;
}

a:focus, a:hover {
    color: magenta;
}

a:active {
    color: red;
}

li {
    margin: 8px 0;
}

.contact-button {
    background: rgb(78, 185, 228);
    color: black;
    padding: 16px 25px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
    border-radius: 5px;
}

.contact-button:hover,
.contact-button:focus {
    background: rgb(35, 142, 184);
    color: black;
}

.email {
    background: lightblue;
    color: black;
    padding: 16px 25px;
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    font-weight: bold;
}

.personal-image {
    max-width: 100%;
    max-height: 100%;
}

.LI-profile-badge {
    max-width: inherit;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}